@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



@media (hover: hover) {
  a:hover {
    background-color: #DBBE1C;
    transition: 0.5s;
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
